:root {
	--clr-magestic-black: hsl(200 100% 6% / 2);
	--clr-magestic-grey: hsl(0 5% 10% / 0.50);
	--clr-blue-hue: hsl(211 100% 50% / 1);
}
body{
	background-color: var(--clr-magestic-black);
}
.main-body-background{
	background-image: linear-gradient( to bottom right, hsl(0 100% 100% / 2  ),hsl(212 70% 90% / 1  ));
}
.cv-name{
	color: var(--clr-magestic-black);
	text-shadow: 
	0 0 0.125em var(--clr-magestic-grey),
	0 0 0.125em currentColor;
}
.cv-name::before{
	content: '';
	position: absolute;
	background-color: var(--clr-magestic-black);
    top: 0%;
    left: 0;
    width: 100%;
    height:40%;
    transform: perspective(1em) rotateX(45deg) scale(0.5, 0.15);
    filter: blur(0.5em);
    opacity: 0.75;
}
.blue-hue{
	color: var(--clr-blue-hue);
	text-shadow: 
	0 0 0.125em currentColor;
}
.section-header {
	color: var(--clr-blue-hue);
	text-shadow: 
	0 0 0.125em var(--clr-magestic-grey),
	0 0 0.125em currentColor;
	border-bottom: 5px solid var(--clr-blue-hue);
	border-bottom-right-radius: 0.25em;
	box-shadow: 
	0 0 0.125em var(--clr-magestic-black),
	0 0 0.125em currentColor;
}
span.h6{
	color: var(--clr-magestic-black);
	/*text-shadow: 
	0 0 0.125em currentColor;*/
	font-weight: 800;
}
.description {
	color: #777;
	text-align: justify;
	text-justify: inter-word;
	font-size: 1em;
	font-family: "Times New Roman";
}

.duration {
	color: #888;
	font-size: 0.8em;
}

.leading-content {
	font-weight: bold;
}

.italic-text {
	font-style: italic;
}

.alignCenter {
	display: block; margin-left : auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
}
.descriptionTermBold label {
	font-weight: bold;
}
[class*='col-'] {
    padding-left: 15px;
}
.fa {
    padding: 0.45em;
    text-align: center;
	text-decoration: none;
	margin:0.2em;
	border-radius: 1em;
  }
  
.fa:hover {
      opacity: 0.7;
}
.fa-whatsapp {
    background: #73ff00;
    color: white;

}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-skype {
	background: #00aff0;
	color: white;
}
.fa-envelope {
	background: #ff0020;
	color: white;
}

.main-body-border{
	box-shadow: 5px 10px 2px 0 #5a99e3; 
	border-radius: 0.5em;  
  }
  
@media print {

    @page { 
        margin-left: 0.5in;
        margin-right: 0.5in;
        margin-top: 0.2in;
        margin-bottom: 0.2in;
    }
	html, body {
	  height:100%; 
	  overflow: hidden;
	}
	.container {
	    margin-top: 0.2in !important;
	    padding-left: 5px !important;
		padding-bottom: 0.2in;
	}
	.non-printable {
		display: none !important;
	}
	
	.main-body-border{
	    box-shadow: none; 
        border-radius: 0em;  
	}
	.main-body-background{
    	background-image: none;
    }
    .description {
    	font-size: 1em;
    }
    #mainContent{
        width:100%;
    }
  }

  